<!DOCTYPE html>
<html>
<head>
  <title>CRUD Node.js e MySQL - Editar Registro</title>
</head>
<body>
  <h1>Editar Registro</h1>
  <form action="/edit/<%= row.ID %>" method="POST">
    <label for="campo1">Campo 1:</label>
    <input type="text" name="campo1" value="<%= row.Nome %>" required><br>
    <label for="campo2">Campo 2:</label>
    <input type="text" name="campo2" value="<%= row.Cargo %>" required><br>
    <label for="campo3">Campo 3:</label>
    <input type="text" name="campo3" value="<%= row.URL %>" required><br>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
